*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}

.navbar{
  display: flex;
  font-weight: 450;
  max-height: 9vh !important;
  align-content: center;
  background-image: linear-gradient(to left, #009FFF , #ec2F4B);
}

.navbar img{
  max-height: 6vh;
}

.nav-element-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  /* background-color: #45e621; */
}

.nav-element-2 a{
  color: #fff;
  text-decoration: none;
}

.nav-element-2 a:hover{
  color: #b6fbff;
  text-decoration: none;
}

.hero{
  min-height: 91vh;
  position: relative;
}

.hero img{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  width: 99%;
  object-fit: cover;
  mix-blend-mode: lighten;
  animation: swing 3s ease-in-out infinite alternate-reverse;
  opacity 0;
}

.hero video{
  position: absolute;
  left: 5%;
  top: 0;
  height: 100%;
  width: 90%;
  object-fit: cover;
  animation: reveal 4s ease forwards;
  opacity 0;
}

@keyframes reveal{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes swing {
  from{
    transform: translate(0%, 0%);
  }
  to{
    transform: translate(1%, 0%);
  }
}

.hero-line{
  position: absolute;
  z-index: 2;
  top: 40%;
  left: 10vw;
  width: 35vw;
  height: 35vh;
  /* background-color: #e2e2e2; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero-line{
  align-self: center;
}

/* Quote Tags */
q,
blockquote {
  quotes: "“" "”" "‘" "’";
  font-style: normal;
  font-size: 2em;
}

q:before,
blockquote:before {
  content: open-quote;
}

q:after,
blockquote:after {
  content: close-quote;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  color: #009FFF;
  font-size: 1.2em;
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 5px solid #009FFF;
}
